{% block content %} {% load widget_tweaks %} {%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/path/to/fontawesome/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
    <title>Future Contests</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css_contest/futurecontest.css' %}">
    <link rel="stylesheet" href="{% static 'css/contest_navbar.css'%}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>

<body style="background-image: url('{% static 'images/d5.jpg' %}');">

    <div class="navbar">
        <a href="{% url 'indexlogin' %}"><b>Code Marshals</b></a>
        <div style="float: right;">
            <a href="{% url 'indexlogin' %}">Home</a>
            <a href="{% url 'information' %}">How to use?</a>
            <a href="{% url 'logout' %}">Logout</a>
            <div>
            </div>
        </div>
    </div>
    <section style="margin-top: 80px; background-color: white; padding-top: 30px; padding-bottom: 11px; text-align: center;">
        <nav style="float: center; position: realtive;">
            <ul type="none">
                <li class="nli"><a href="{% url 'pastcontest' %}" class="na" style="font-family: Times New Roman; color: blue; font-size: 18px; text-decoration: none; hover: hsla(120, 100%, 75%, 0.3);}">Past Contest</a></li>
                <li class="nli"><a href="{% url 'listofcontests' %}" class="na" style="font-family: Times New Roman; color: blue; font-size: 22px; text-decoration: none; background-color: hsla(120, 100%, 50%, 0.3); padding: 10px; border-radius: 25px;"><b>Future Contest</b></a></li>
                <li class="nli"><a href="{% url 'runningcontest' %}" class="na" style="font-family: Times New Roman; color: blue; font-size: 18px; text-decoration: none;">Ongoing Contest</a></li>
            </ul>
        </nav>
    </section>

    <br>

    <div class="container">
        <h2 class="text-center">{{Contest_name}}</h2><br>
        <table class="table table-light table-hover table-bordered">
            <thead class="bg-info thead-dark">
                <tr>
                    <th style="text-align: center;" scope="col">Sr no</th>
                    <th style="text-align: center;" scope="col">Contest Name</th>
                    <th style="text-align: center;" scope="col">Contest Creator</th>
                    <th style="text-align: center;" scope="col">Date</th>
                    <th style="text-align: center;" scope="col">Start Time</th>
                    <th style="text-align: center;" scope="col">End Time</th>
                </tr>
            </thead>
            <tbody>
                {% for i in obj %}
                <tr>
                    <td scope="row" style="text-align: center;">{{forloop.counter}}</td>
                    <td style="text-align: center;"><a href="javascript:AlertIt();">{{ i.cname}}</a></td>
                    <td scope="row" style="text-align: center;">{{i.username}}</td>
                    <td scope="row" style="text-align: center;">{{i.date}}</td>
                    <td scope="row" style="text-align: center;">{{i.starttime}}</td>
                    <td scope="row" style="text-align: center;">{{i.endtime}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example" style: "text-align:center;>
            <ul class="pagination justify-content-center ">
                {% if obj.has_previous %}
                <li class="page-item "><a class="page-link " href="?page={{obj.previous_page_number}} ">Previous</a></li>
                {% endif %}
                <li class="page-item "><a class="page-link " href="?page=1 ">1</a></li>
                <li class="page-item "><a class="page-link " href="?page=2 ">2</a></li>
                <li class="page-item "><a class="page-link " href="?page=3 ">3</a></li>
                {% if obj.has_next %}
                <li class="page-item "><a class="page-link " href="?page={{obj.next_page_number}} ">Next</a></li>
                {% endif %}
            </ul>
        </nav>
</div>

<script type="text/javascript ">
function AlertIt() {
alert("Contest Has not yet Started ")
}
</script>

    {% endblock content %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js "
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n "
        crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js "
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 "
        crossorigin="anonymous "></script>
</body>

</html>