.form-container {
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: 270px;
            margin-right: 270px;
            margin-top: 200px;
            margin-bottom: 200px;
            overflow: hidden;
            box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
        }