{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Navbar for Contest</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <style>
      body {
        margin: 0;
      }

      .navbar {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
      }

      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .navbar a:hover {
        background: #ddd;
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="{% url 'indexlogin' %}"><b>Code Marshals</b></a>
      <div style="float: right">
        <a href="{% url 'indexlogin' %}">Home</a>
        <a href="{% url 'information' %}">How to use?</a>
        <a href="{% url 'logout' %}">Logout</a>
        <div></div>
      </div>
    </div>
  </body>
</html>
