{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <style>
      body,
      html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: rgb(123, 228, 183) !important;
      }
    </style>
  </head>

  <body style="margin-right: 400px; margin-left: 400px">
    <br /><br /><br /><br /><br /><br /><br /><br /><br />

    <div class="text-center">
      <h3>Enter new password</h3>

      <p>
        Please enter your new password twice so we can verify you typed it in
        correctly.
      </p>

      <form method="post">
      {% csrf_token %} 
      <ul style="type:square;">
      <li>{{form|crispy}}</li>
      </ul>
        
        <input type="Submit" name="Update Password" />
      </form>
    </div>
  </body>
</html>
